<!DOCTYPE html>
<html lang="en">

<body>

   <style>
      .card {
           padding: 20px;
           border-radius: 6px;
           background-color: lightgreen;
           color: black;
           margin: 20px;
           
           text-align: center;
  width: 350px;
         }
      
      </style>
      </body><div class = "card"> <h1>ENGINEER</h1><br> <div>Name:  pat</div> <br>
                                <div> ID:  888</div> <br>
                                <div> Email:  ton@yahc.com</div> <br>
                                <div> Github: enginner </div> <br>,</div></div><div class = "card"> <h1>ENGINEER</h1><br> <div>Name:  asf</div> <br>
                                <div> ID:  888</div> <br>
                                <div> Email:  ton@adf.com</div> <br>
                                <div> Github: tonnette</div> <br>,</div></div><div class = "card"> <h1>ENGINEER</h1><br> <div>Name:  Jack</div> <br>
                                <div> ID:  999</div> <br>
                                <div> Email:  jack@yah.com</div> <br>
                                <div> Github: jacktator</div> <br>,</div></div><div class = "card"> <h1>ENGINEER</h1><br> <div>Name:  dharni</div> <br>
                                <div> ID:  333</div> <br>
                                <div> Email:  dharni@adf.com</div> <br>
                                <div> Github: dharni</div> <br>,</div></div>