<!DOCTYPE html>
<html lang="en">

<body>
<div class="card engineerCard" style="width: 30rem;">
<div class="card-header" style="background-color: rgb(184, 91, 238);">
   <h1>Intern</h1> </div><div class="card-body">
   <p class="card-text">
      <div class="line"><strong>Name:</strong> john</div> <br>
      <div class="line"> <strong>ID:</strong> 876</div> <br>
      <div class="line"><strong>Email:</strong> john@jon.com</div> <br>
      <div><strong>School:</strong> Trilogy</div></p></div></div><div class="card engineerCard" style="width: 30rem;">
<div class="card-header" style="background-color: rgb(184, 91, 238);">
   <h1>Intern</h1> </div><div class="card-body">
   <p class="card-text">
      <div class="line"><strong>Name:</strong> asf</div> <br>
      <div class="line"> <strong>ID:</strong> 888</div> <br>
      <div class="line"><strong>Email:</strong> ad@a.com</div> <br>
      <div><strong>School:</strong> sn</div></p></div></div><div class="card engineerCard" style="width: 30rem;">
<div class="card-header" style="background-color: rgb(184, 91, 238);">
   <h1>Intern</h1> </div><div class="card-body">
   <p class="card-text">
      <div class="line"><strong>Name:</strong> mat</div> <br>
      <div class="line"> <strong>ID:</strong> 442</div> <br>
      <div class="line"><strong>Email:</strong> asfd@han.com</div> <br>
      <div><strong>School:</strong> triology</div></p></div></div><div class="card engineerCard" style="width: 30rem;">
<div class="card-header" style="background-color: rgb(184, 91, 238);">
   <h1>Intern</h1> </div><div class="card-body">
   <p class="card-text">
      <div class="line"><strong>Name:</strong> huerbert</div> <br>
      <div class="line"> <strong>ID:</strong> 334</div> <br>
      <div class="line"><strong>Email:</strong> sdf@yaho.com</div> <br>
      <div><strong>School:</strong> OLSH</div></p></div></div><div class="card engineerCard" style="width: 30rem;">
<div class="card-header" style="background-color: rgb(184, 91, 238);">
   <h1>Intern</h1> </div><div class="card-body">
   <p class="card-text">
      <div class="line"><strong>Name:</strong> Sarah</div> <br>
      <div class="line"> <strong>ID:</strong> 234</div> <br>
      <div class="line"><strong>Email:</strong> Sarah@a.com</div> <br>
      <div><strong>School:</strong> OLSH</div></p></div></div><div class="card engineerCard" style="width: 30rem;">
<div class="card-header" style="background-color: rgb(184, 91, 238);">
   <h1>Intern</h1> </div><div class="card-body">
   <p class="card-text">
      <div class="line"><strong>Name:</strong> Jack</div> <br>
      <div class="line"> <strong>ID:</strong> 345</div> <br>
      <div class="line"><strong>Email:</strong> jack@jack.com</div> <br>
      <div><strong>School:</strong> Trilogy</div></p></div></div><div class="card engineerCard" style="width: 30rem;">
<div class="card-header" style="background-color: rgb(184, 91, 238);">
   <h1>Intern</h1> </div><div class="card-body">
   <p class="card-text">
      <div class="line"><strong>Name:</strong> Maty</div> <br>
      <div class="line"> <strong>ID:</strong> 234</div> <br>
      <div class="line"><strong>Email:</strong> asd@nco.com</div> <br>
      <div><strong>School:</strong> OLSH</div></p></div></div>