<!doctype html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <title>PDF Exercise</title>

   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=BioRhyme|Cabin&display=swap" rel="stylesheet">
</head>

<header class="jumbotron" style="text-align: center;">
   <h1 class="display-3" id="weatherTitle">Employee Data</h1>
</header>

<style>
   .card {
      margin: 0 auto;
      /* Added */
      float: none;
      /* Added */
      margin-bottom: 10px;
      /* Added */
   }

   .managerCard {
      width: 30%;

   }

   .line {
      border-bottom: solid 1px grey;
      padding-bottom: 10px;
   }

   .engineerCard,
   .internCard {
      display: inline-block !important;
      margin-left: 100px;
   }
</style>

<body>






<div class="card text-center managerCard">
      <div class="card-header" style="background-color: rgb(91, 201, 238);">
         <h1>Manager</h1></div> <div class="card-body"><p class="card-text">
            <div class="line"><strong>Name:</strong> jack</div> <br>
            <div class="line"> <strong>ID:</strong>889 </div> <br>
            <div class="line"><strong>Email:</strong>  jack@jack.com</div> <br>
            <div><strong>Office Number:</strong>88 </div></p> </div> </div><div class="card internCard" style="width: 30rem;">
                            <div class="card-header" style="background-color: rgb(91, 238, 182);">
                               <h1>Engineer</h1></div> <div class="card-body">
                               <p class="card-text">
                                  <div class="line"><strong>Name:</strong> sarah</div> <br>
                                  <div class="line"> <strong>ID:</strong> 234</div> <br>
                                  <div class="line"><strong>Email:</strong> sarah@yahoo.com</div> <br>
                                  <div><strong>Github Name:</strong>  Sarattitude</div></p></div> </div><div class="card internCard" style="width: 30rem;">
                            <div class="card-header" style="background-color: rgb(91, 238, 182);">
                               <h1>Engineer</h1></div> <div class="card-body">
                               <p class="card-text">
                                  <div class="line"><strong>Name:</strong> harry</div> <br>
                                  <div class="line"> <strong>ID:</strong> 387</div> <br>
                                  <div class="line"><strong>Email:</strong> harry@ha.com</div> <br>
                                  <div><strong>Github Name:</strong>  Haritator</div></p></div> </div><div class="card engineerCard" style="width: 30rem;">
                                <div class="card-header" style="background-color: rgb(184, 91, 238);">
                                   <h1>Intern</h1> </div><div class="card-body">
                                   <p class="card-text">
                                      <div class="line"><strong>Name:</strong> jill</div> <br>
                                      <div class="line"> <strong>ID:</strong> 234</div> <br>
                                      <div class="line"><strong>Email:</strong> jill@yahoo.com</div> <br>
                                      <div><strong>School:</strong> Trilogy</div></p></div></div><div class="card engineerCard" style="width: 30rem;">
                                <div class="card-header" style="background-color: rgb(184, 91, 238);">
                                   <h1>Intern</h1> </div><div class="card-body">
                                   <p class="card-text">
                                      <div class="line"><strong>Name:</strong> Janet</div> <br>
                                      <div class="line"> <strong>ID:</strong> 938</div> <br>
                                      <div class="line"><strong>Email:</strong> janet@yahoo.com</div> <br>
                                      <div><strong>School:</strong> Sydney</div></p></div></div><div class="card text-center managerCard">
      <div class="card-header" style="background-color: rgb(91, 201, 238);">
         <h1>Manager</h1></div> <div class="card-body"><p class="card-text">
            <div class="line"><strong>Name:</strong> ton</div> <br>
            <div class="line"> <strong>ID:</strong>999 </div> <br>
            <div class="line"><strong>Email:</strong>  ton@yaho.com</div> <br>
            <div><strong>Office Number:</strong>99 </div></p> </div> </div><div class="card internCard" style="width: 30rem;">
                            <div class="card-header" style="background-color: rgb(91, 238, 182);">
                               <h1>Engineer</h1></div> <div class="card-body">
                               <p class="card-text">
                                  <div class="line"><strong>Name:</strong> matty</div> <br>
                                  <div class="line"> <strong>ID:</strong> 889</div> <br>
                                  <div class="line"><strong>Email:</strong> ton@may.com</div> <br>
                                  <div><strong>Github Name:</strong>  ImanEnginner</div></p></div> </div><div class="card engineerCard" style="width: 30rem;">
                                <div class="card-header" style="background-color: rgb(184, 91, 238);">
                                   <h1>Intern</h1> </div><div class="card-body">
                                   <p class="card-text">
                                      <div class="line"><strong>Name:</strong> sarah</div> <br>
                                      <div class="line"> <strong>ID:</strong> 773</div> <br>
                                      <div class="line"><strong>Email:</strong> sarah@hhi.com</div> <br>
                                      <div><strong>School:</strong> OLSH</div></p></div></div>