<!DOCTYPE html>
<html lang="en">

<body>
   <div class="card text-center managerCard">
      <div class="card-header" style="background-color: rgb(91, 201, 238);">
         <h1>Manager</h1>
      </div>
      <div class="card-body">
         <p class="card-text">
            <div class="line"><strong>Name:</strong> ton</div> <br>
            <div class="line"> <strong>ID:</strong>445 </div> <br>
            <div class="line"><strong>Email:</strong> ton@h.com</div> <br>
            <div><strong>Office Number:</strong>88 </div>
         </p>
      </div>
   </div>
   <div class="card text-center managerCard">
      <div class="card-header" style="background-color: rgb(91, 201, 238);">
         <h1>Manager</h1>
      </div>
      <div class="card-body">
         <p class="card-text">
            <div class="line"><strong>Name:</strong> ton</div> <br>
            <div class="line"> <strong>ID:</strong>888 </div> <br>
            <div class="line"><strong>Email:</strong> ton@a.com</div> <br>
            <div><strong>Office Number:</strong>88 </div>
         </p>
      </div>
   </div>
   <div class="card text-center managerCard">
      <div class="card-header" style="background-color: rgb(91, 201, 238);">
         <h1>Manager</h1>
      </div>
      <div class="card-body">
         <p class="card-text">
            <div class="line"><strong>Name:</strong> sdf@yah.com</div> <br>
            <div class="line"> <strong>ID:</strong>884 </div> <br>
            <div class="line"><strong>Email:</strong> asf@ya.com</div> <br>
            <div><strong>Office Number:</strong>88 </div>
         </p>
      </div>
   </div>
   <div class="card text-center managerCard">
      <div class="card-header" style="background-color: rgb(91, 201, 238);">
         <h1>Manager</h1>
      </div>
      <div class="card-body">
         <p class="card-text">
            <div class="line"><strong>Name:</strong> ton</div> <br>
            <div class="line"> <strong>ID:</strong>332 </div> <br>
            <div class="line"><strong>Email:</strong> Ton@ya.com</div> <br>
            <div><strong>Office Number:</strong>94 </div>
         </p>
      </div>
   </div>
   <div class="card text-center managerCard">
      <div class="card-header" style="background-color: rgb(91, 201, 238);">
         <h1>Manager</h1>
      </div>
      <div class="card-body">
         <p class="card-text">
            <div class="line"><strong>Name:</strong> asf@yah.com</div> <br>
            <div class="line"> <strong>ID:</strong>443 </div> <br>
            <div class="line"><strong>Email:</strong> ton@a.com</div> <br>
            <div><strong>Office Number:</strong>34 </div>
         </p>
      </div>
   </div>
   <div class="card text-center managerCard">
      <div class="card-header" style="background-color: rgb(91, 201, 238);">
         <h1>Manager</h1>
      </div>
      <div class="card-body">
         <p class="card-text">
            <div class="line"><strong>Name:</strong> ton</div> <br>
            <div class="line"> <strong>ID:</strong>888 </div> <br>
            <div class="line"><strong>Email:</strong> rt@yah.com</div> <br>
            <div><strong>Office Number:</strong>88 </div>
         </p>
      </div>
   </div>
   <div class="card text-center managerCard">
      <div class="card-header" style="background-color: rgb(91, 201, 238);">
         <h1>Manager</h1>
      </div>
      <div class="card-body">
         <p class="card-text">
            <div class="line"><strong>Name:</strong> ton</div> <br>
            <div class="line"> <strong>ID:</strong>883 </div> <br>
            <div class="line"><strong>Email:</strong> af@ya.co</div> <br>
            <div><strong>Office Number:</strong>88 </div>
         </p>
      </div>
   </div>
   <div class="card engineerCard" style="width: 30rem;">
      <div class="card-header" style="background-color: rgb(184, 91, 238);">
         <h1>Manager</h1>
      </div>
      <div class="card-body">
         <p class="card-text">
            <div class="line"><strong>Name:</strong> asf</div> <br>
            <div class="line"> <strong>ID:</strong> 885</div> <br>
            <div class="line"><strong>Email:</strong> tona@af.com</div> <br>
            <div><strong>School:</strong> 88</div>
         </p>
      </div>
   </div>
   <div class="card engineerCard" style="width: 30rem;">
      <div class="card-header" style="background-color: rgb(184, 91, 238);">
         <h1>Manager</h1>
      </div>
      <div class="card-body">
         <p class="card-text">
            <div class="line"><strong>Name:</strong> Ton</div> <br>
            <div class="line"> <strong>ID:</strong> 888</div> <br>
            <div class="line"><strong>Email:</strong> sdf@yahoo.com</div> <br>
            <div><strong>School:</strong> 88</div>
         </p>
      </div>
   </div>
   <div class="card engineerCard" style="width: 30rem;">
      <div class="card-header" style="background-color: rgb(184, 91, 238);">
         <h1>Manager</h1>
      </div>
      <div class="card-body">
         <p class="card-text">
            <div class="line"><strong>Name:</strong> ton</div> <br>
            <div class="line"> <strong>ID:</strong> 883</div> <br>
            <div class="line"><strong>Email:</strong> ton@yaho.com</div> <br>
            <div><strong>School:</strong> 45</div>
         </p>
      </div>
   </div><div class="card text-center managerCard">
    <div class="card-header" style="background-color: rgb(91, 201, 238);">
       <h1>Manager</h1>
    </div>
    <div class="card-body">
       <p class="card-text">
          <div class="line"><strong>Name:</strong> ton</div> <br>
          <div class="line"> <strong>ID:</strong>884 </div> <br>
          <div class="line"><strong>Email:</strong> sdf@yah.com</div> <br>
          <div><strong>Office Number:</strong>34 </div>
       </p>
    </div>
    </div><div class="card text-center managerCard">
    <div class="card-header" style="background-color: rgb(91, 201, 238);">
       <h1>Manager</h1>
    </div>
    <div class="card-body">
       <p class="card-text">
          <div class="line"><strong>Name:</strong> tonnette</div> <br>
          <div class="line"> <strong>ID:</strong>884 </div> <br>
          <div class="line"><strong>Email:</strong> manager@man.com</div> <br>
          <div><strong>Office Number:</strong>34 </div>
       </p>
    </div>
    </div><div class="card text-center managerCard">
    <div class="card-header" style="background-color: rgb(91, 201, 238);">
       <h1>Manager</h1>
    </div>
    <div class="card-body">
       <p class="card-text">
          <div class="line"><strong>Name:</strong> tonnette</div> <br>
          <div class="line"> <strong>ID:</strong>443 </div> <br>
          <div class="line"><strong>Email:</strong> ton@ton.com</div> <br>
          <div><strong>Office Number:</strong>94 </div>
       </p>
    </div>
    </div>