<div class="card text-center managerCard">
    <div class="card-header" style="background-color: rgb(91, 201, 238);">
       <h1>Manager</h1>
    </div>
    <div class="card-body">
       <p class="card-text">
          <div class="line"><strong>Name:</strong> tonnette</div> <br>
          <div class="line"> <strong>ID:</strong>887 </div> <br>
          <div class="line"><strong>Email:</strong> ton@ya.com</div> <br>
          <div><strong>Office Number:</strong>99876 </div>
       </p>
    </div>
    </div>