<!DOCTYPE html>
<html lang="en">

<body>
<div class="card text-center managerCard">
    <div class="card-header" style="background-color: rgb(91, 201, 238);">
     <h1>Manager</h1></div> <div class="card-body"><p class="card-text">
        <div class="line"><strong>Name:</strong> Tonnette</div> <br>
        <div class="line"> <strong>ID:</strong>874 </div> <br>
        <div class="line"><strong>Email:</strong>  ton@ton.com</div> <br>
        <div><strong>Office Number:</strong>87 </div></p> </div> </div>